{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<header class="content-header clearfix">
  <div class="layout-container">
    <a href="/" class="toolbar-logo" data-drupal-link-system-path="<front>">
      <img src="/themes/custom/frontend/assets/gin/logo_gin_login.svg" alt="MicroServicio Fresenius Kabi" class="toolbar-icon-home">
    </a>
  </div>
</header>
<h1 class="page-title user-form-page__page-title">Crear nueva cuenta</h1>
{{ form }}



